## Core ML/Data
pandas
numpy
scikit-learn
joblib
imbalanced-learn

## Security
cryptography
pycryptodome

## UI
streamlit
flask

## Visualization
matplotlib
seaborn

## Deep Learning
PyPDF2
keras
tensorflow

## Data sources
ucimlrepo
mlcroissant
kagglehub